POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=

KEYCLOAK_URL=
KEYCLOAK_REALM_NAME=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_ALGORITHM=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=
REDIS_STREAM=
REDIS_GROUP=
REDIS_CONSUMER=
